.cardHeader {
    display: flex;
    &Avatar {
        flex: 1 1 auto;
        cursor: pointer;
        &Image {
            overflow: hidden;
            &S3 {
                --width: 100%;
            }
        }
    }
    &Username {
        flex: 3 3 auto;
        cursor: pointer;
        &Nickname {
            font-size: 1.3rem;
        }
    }
    &time {
        flex: 1 1 auto;
    }
}
