<div class="cardHeader">
  <div class="cardHeaderAvatar" (click)="goToProfilePage()">
    <ion-avatar class="cardHeaderAvatarImage">
      <amplify-s3-image *ngIf="oshaberi.userInfo && oshaberi.userInfo.iconImageKey;else iconImageUnset"
        class="cardHeaderAvatarImageS3" [attr.img-key]="oshaberi.userInfo.iconImageKey" level="public">
      </amplify-s3-image>
    </ion-avatar>
  </div>
  <div class="cardHeaderUsername" (click)="goToProfilePage()">
    <ion-card-title class="cardHeaderUsernameNickname">{{oshaberi.author | username}}</ion-card-title>
    <ion-card-subtitle>{{oshaberi.author | username}}</ion-card-subtitle>
  </div>
  <div class="cardHeaderTime">{{oshaberi.timestamp | elapsedTime}}</div>
</div>

<ng-template #iconImageUnset>
  <img src="assets/iconImageUnset.jpg">
</ng-template>