<app-header iconType="menu" title="おしらせ"></app-header>

<ion-content>
  <app-oshaberi-button></app-oshaberi-button>
  <ion-list>
    <app-notification-item *ngFor="let notification of notifications" [notification]="notification">
    </app-notification-item>
  </ion-list>
  <ion-infinite-scroll #infinitScroll threshold="50px" (ionInfinite)="loadNextNotification($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>