<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="iconType=='menu'">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="iconType=='back'">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="title">{{ title }}</ion-title>
    <ion-searchbar *ngIf="iconType=='search'" showCancelButton="always" placeholder="キーワード" animated
      (ionChange)="search($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="buttonText" [disabled]="buttonDisabled" slot="end" (click)="sendButtonClickEvent()">{{
        buttonText
        }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>