<ion-card class="userDigest">
  <ion-card-header>
    <div class="userDigestAvatar">
      {{userInfo.iconImageKey ? userInfo.iconImageKey:''}}
    </div>
    <div class="userDigestUsername">
      <ion-card-subtitle>{{userInfo.nickname ? userInfo.nickname:'未設定'}}</ion-card-subtitle>
      <ion-card-title>{{userInfo.userId}}</ion-card-title>
    </div>
    <ion-button>フォローする</ion-button>

  </ion-card-header>
  <ion-card-content>
    {{userInfo.profile ? userInfo.profile:''}}
  </ion-card-content>


</ion-card>