<ion-list class="menuList">
  <ion-item class="menuListItem" (click)="navigate('about')">
    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;このアプリについて
  </ion-item>
  <ion-item class="menuListItem" (click)="navigate('home')">
    <ion-icon name="home-outline"></ion-icon>&nbsp;ホーム
  </ion-item>
  <ion-item class="menuListItem" (click)="navigate('profile')">
    <ion-icon name="person-circle-outline"></ion-icon>&nbsp;プロフィール
  </ion-item>
  <ion-item class="menuListItem" (click)="navigate('search','latest')">
    <ion-icon name="chatbubbles-outline"></ion-icon>&nbsp;全てのおしゃべり
  </ion-item>
  <ion-item class="menuListItem" (click)="navigate('search','user')">
    <ion-icon name="people-outline"></ion-icon>&nbsp;ユーザー一覧
  </ion-item>
  <ion-item class="menuListItem" (click)="navigate('search','search')">
    <ion-icon name="search-outline"></ion-icon>&nbsp;おしゃべりを検索
  </ion-item>
  <ion-item class="menuListItem" (click)="signOut()">
    <ion-icon name="log-out-outline"></ion-icon>&nbsp;ごきげんよろしゅう<br>（ログアウト）
  </ion-item>
</ion-list>