.line {
    display: block;
    margin: -30px 0 0 50%;
    height: 50px;
    border-left: dashed 2px gray;
}

.oshaberiContentWrapper {
    padding: 15px 0.5rem 0;
    border-top: solid 1px gray;
}
.replyHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    &::before,
    &::after {
        border-top: 1px gray solid;
        content: "";
        flex: auto;
    }
    &::before {
        margin-right: 1em;
    }
    &::after {
        margin-left: 1em;
    }
}
