<app-header iconType="menu" title="ホーム"></app-header>

<ion-content [fullscreen]="true">
  <app-oshaberi-button></app-oshaberi-button>
  <ion-refresher id=refresher slot="fixed" (ionRefresh)="refreshOshaberis($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-oshaberi *ngFor="let oshaberi of oshaberis" [oshaberi]="oshaberi"></app-oshaberi>
  <ion-infinite-scroll #infinitScroll threshold="50px" (ionInfinite)="loadNextOshaberis($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>